.row-fluid
  .span3
    Image Here
  .span9
    .hero-unit.ohmyhero.about
      .row-fluid
        .span4.about1.abouttext
          %h4
            Quality
            %span &
            Service
          %span.brand Oh My Gao
          is a small company that serves a very unique market of healthy desserts.
          Serving only the highest quality of Herbal Jelly made in Singapore! We believe
          in offering great service on top of an awesome product! With over 15 years of making Herbal Jelly, we think we got it right :)
          %br
          %br
          Image Here
        .span4.about2.abouttext
          Image Here
          %br
          %h4
            品质
            %span 與
            服務
          %span.brand.chinese 哦買膏
          是個健康食品的小公司。我們销售的是新加坡特產的龜苓膏，而且我們相信於特殊的服務與最好的產品。我們有十五年的龜苓膏經驗，應該夠了吧:)
          %br
          %br
        .span4.abouthead
          %h1
            .top About
            .bot Oh My Gao
            .chi
              關於
              %span 哦買膏

