.row-fluid
  .span9
    .hero-unit.ohmyhero.about
      .row-fluid
        .span4.about1.abouttext
          %h4
            Quality
            %span &
            Service
          %span.brand Oh My Gao
          Herbal Jelly is a well known chinese dessert. Now, through Oh My Gao, you will be able to order online and have it served right to your doorstep.
        .span4.about2.abouttext
          %h4
            品质
            %span 與
            服務
          %span.brand.chinese 哦買膏
          龜苓膏是個家喻戶皢的健康食品。現在，您可以更方便的通过‘哦买膏’网站购买到它。您订购， 我们把它送到您府上。
          %br
          %br
        .span4.abouthead
          %h1
            .top About
            .bot Oh My Gao
            .chi
              關於
              %span 哦買膏

  .span3
