.row-fluid
  .span9
    .hero-unit.ohmyhero.index
      .row-fluid
        .span4.introhead
          %h1
            .top Welcome To
            .bot Oh My Gao
            .chi 歡迎光臨
        .span8
          .row-fluid
            .span12
              Image Here
          .row-fluid
            .span6.intro1.introtext
              %h4
                Health
                %span +
                Convenience
              It's no secret that every scoop of Herbal Jelly is a spoonful of health, but
              sometimes having a busy day at work may keep you in the office, making it impossible to
              enjoy your favorite glob of herbal jelly goodness.
              %br
              %br
              In light of this problem,
              %span.brand Oh My Gao
              brings deliciously healthy Herbal Jelly right to your doorstep!
            .span6.intro2.introtext
              %h4
                健康
                %span +
                便利
              雖然龜苓膏是個家喻戶曉的健康食品，我們缺會有時在做工的忙碌中無法享用它。
              %br
              %br
              為了解決這個問題，
              %span.brand.chinese 哦買膏
              會把你喜愛的龜苓膏送到門外。
  .span3
    Image Here
