.row-fluid
  .span3
    .hero-unit.ohmyhero.inside
      .row-fluid
        .span12.insidehead
          %h1
            .top What Is
            .bot Inside?
            .chi-top
              它包含了
            .chi-bot
              什麼?
  .span5
  .span4
    .hero-unit.ohmyhero.inside
      .row-fluid
        .span12.inside1.insidetext
          %b
            Herbal Jelly has long been a traditional health food, it was said that its earliest uses stem from the imperial palance of the Qing dynasty. The key ingredients were the Golden Coin Turtles and Wild Tuckahoe, and these were subsequently mixed with Rehmannia and other various herbs to create what is now known as Herbal Jelly.
          %h3
            龟苓膏是历史悠久的传统药膳，相传最初是清宫中专供皇帝食用的名贵药物。它主要以名贵的鹰嘴龟和土茯苓为原料，再配生地等药物精制而成。
          %br
