.row-fluid
  .span3
    .hero-unit.ohmyhero.inside
      .row-fluid
        .span12.insidehead
          %h1
            .top What Is
            .bot Inside?
            .chi-top
              裡面有
            .chi-bot
              什麼?
  .span6
    Image Here
  .span3
    .hero-unit.ohmyhero.inside
      .row-fluid
        .span12.inside1.insidetext
          %h4
            Header
            %span +
            Here
          Text here
          %br
          %br
          %span.brand Oh My Gao
