.row-fluid
  .span12
    .hero-unit.ohmyhero.order
      .row-fluid
        .span12
          .row-fluid
            .span3.orderhead
              %h1
                .top How Do I
                .bot ORDER?
                怎麼訂購?
            .span9
              .row-fluid
                .span6
                  %h4
                    It's a simple as choosing your flavor & quantity!
                  Oh My Gao has currently 2 flavors, Luo Han Guo and Pearl Flavor.
                  Just  choose your flavor and your quantity and make an online payment with the address to be delivered to!
                .span6.chi-text.larger
                  %h3
                    你只許選擇你的口味和數量！
                  哦買膏現有兩種口味，羅漢果和珍珠。你只要選擇你要的口味和數量，然後輸入你的發送地址做個網上訂購！
                  %br
              .row-fluid
                .span6
                  %br
                  %span.brand Luo Han Guo Herbal Jelly
                  %br
                  %span.brand.chinese 羅漢果龜苓膏
                  %br
                  %br
                  .prod-desc
                    Contains:
                    Fructus Momordicae (Luo Han Guo),
                    Radix Rehmannie,
                    Flos Lonicerae (Honeysuckle),
                    Herbal Lobeliae Chinensis,
                    Plastrum Testudinis (Tortoise Shell)
                  含有：
                  羅漢果,
                  地黃,
                  金銀花,
                  半邊蓮,
                  龜板
                .span6
                  %br
                  %span.brand Pearl Herbal Jelly
                  %br
                  %span.brand.chinese 珍珠龜苓膏
                  %br
                  %br
                  .prod-desc
                    Contains:
                    Pearl,
                    Saphora Japonica,
                    Rhizoma Smilacis Glabrae,
                    Herbal Taraxci,
                    Plastrum Testudinis (Tortoise Shell)
                  含有：
                  珍珠,
                  槐,
                  土茯苓,
                  蒲公英,
                  龜板
              .row-fluid
                .span6
                  .order-add
                    %br
                    %form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post" }
                      %input{ :type => "hidden", :name => "cmd", :value => "_s-xclick" }
                      %input{ :type => "hidden", :name => "hosted_button_id", :value => "MSRV3WBJ6HBSW" }
                      %input{ :type => "submit", :value => "Add to Cart", :class => "btn" }
                      %img{ :alt => "", :border => "0", :src => "https://www.paypalobjects.com/en_GB/i/scr/pixel.gif", :width => "1", :height => "1" }
                .span6
                  .order-add
                    %br
                    %form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post" }
                      %input{ :type => "hidden", :name => "cmd", :value => "_s-xclick" }
                      %input{ :type => "hidden", :name => "hosted_button_id", :value => "C3SRMB2YTCEC8" }
                      %input{ :type => "submit", :value => "Add to Cart", :class => "btn" }
                      %img{ :alt => "", :border => "0", :src => "https://www.paypalobjects.com/en_GB/i/scr/pixel.gif", :width => "1", :height => "1" }
              .row-fluid
                .span12
                  %form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post" }
                    %input{ :type => "hidden", :name => "cmd", :value => "_s-xclick" }
                    %input{ :type => "hidden", :name => "encrypted", :value => "-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYA2e11arLh5Fq5OlpwISsI6imjnF6r01flmtOU+CEEjIw+/dAGn/PsXj01gWqZChQg+WwL+bocNRlqyyKhkQpDJfGM0Vlt0U+csnvIXf4fEnfD9Ozq4V1hOS6Hh7Kw8/mN+2ceCLUtdtvkOlB5fAe7q5oEEoyd+Wj3VB+0cC5gezDELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAhrSjjieczApYAwDG8jrYfTRveo8Y+U9uQND1XGGfy/+t1nOwx77OZQmOds+uXZZ1kxPnGSPyDTJ4OEoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTIxMDI3MTUyMzM0WjAjBgkqhkiG9w0BCQQxFgQU3EzcUPhKA3wWbtX2TBDIct4KEIgwDQYJKoZIhvcNAQEBBQAEgYBLItcZISShrAPZ3IB1A5+jwweDzo1X8cLM9nXDUXeldN9Hik9v0HD/4WDOp3QspuEFdN4L1kXe1h9FUSOArp583NFGi0jAy/MBUtmgKbThpdacppl6MjQya3NM0dM+ep6IxZdlX68u/RAwgjppdR66YJ5a8d2nGtO9kdR3eKPrXQ==-----END PKCS7-----" }
                    %input{ :type => "submit", :value => "View Cart", :name => "viewcart", :class => "btn"}
                    %img{ :alt => "", :border => "0", :src => "https://www.paypalobjects.com/en_GB/i/scr/pixel.gif", :width => "1", :height => "1" }
