.row-fluid
  .span8.whitebg
    .padspan
      .row-fluid
        .span12
      .row-fluid.why
        .span6.why1.introtext
          Herbal Jelly is a balanced dish which is suitable for all ages and has properties which reduces heatiness. It helps improve blood circulation and production, relieves itching, reduces acne, improves skin complexion, it also aides in bowel movements and kidney restoration.
          %h3
            Health Benefits:
          %ul
            %li Improves and aides in kidney restoration
            %li Moisturizes skin
            %li Conditions the organs
            %li Detoxify and reduce heatiness
            %li Prevent skin aging and constipation
            %li Promotes metabolism
        .span6.why2.introtext
          .chinese-head
            龟苓膏性温和，老少皆宜，具有清热去湿， 旺血生肌，止瘙痒，去暗疮，润肠通便，滋阴补肾，养颜提神等功效，畅销中外。
          %h3 营养价值：
          %ul
            %li 滋阴补肾
            %li 润燥护肤
            %li 消除暗疮
            %li 调理脏腑
            %li 清热解毒
            %li 防止肤质老化及便秘
            %li 能促进新陈代谢
            %li 提升人体免疫力
            %li
              龟板含有各种氨基酸，其中七种为人体不能自制但必须的氨基酸。
      .row-fluid.why
        .span6.remarks
          %h5 Remarks:
          %ul
            %li Due to the promotion of blood circulation, consumption is not advisable for women who are pregnant or having their period.
            %li As Herbal Jelly is mildly cooling by nature, consumption is not advisable for people suffering from weak stomach, loss of appetite or diarrhea.
            %li If you feel abdominal pains after consuming Herbal Jelly or have signs of diarrhea, please immediately stop consumption.
            %li If unsure about consumption, please consult with your doctor.
        .span6.remarks-chi
          %h5 提示：
          %ul
            %li 因龟苓膏可促进血液循环并属于清凉解毒的食品，故妇女於月经期间及孕妇不宜食用。
            %li 龟苓膏偏寒性，脾胃虚弱、食欲不振、大便较稀的人不宜吃。
            %li 食品龟苓膏一旦出现腹痛、不思饮食，腹泻等情况，应当立即停用。
            %li 如果有何疑问，请征询您的医生。
  .span3
    .hero-unit.ohmyhero.why
      .row-fluid
        .span12.whyhead
          %h1
            .top Why
            .bot Eat It?
            吃龟苓膏
            .chi 的益处

