.row-fluid
  .span6
    .row-fluid
      .span6.why1.intotext
        %h4
          Header
          %span +
          Here
        Text here
        %br
        %br
        %span.brand Oh My Gao
      .span6.why2.introtext
        %h4
          頭部
          %span +
          這裡
        字幕
        %br
        %br
        %span.brand.chinese 哦買膏
  .span3
    .hero-unit.ohmyhero.why
      .row-fluid
        .span12.whyhead
          %h1
            .top Why
            .bot Eat It?
            吃它來
            .chi 幹嘛?

